@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Streaming.Api</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/swagger" target="_blank">
                <span class="bi bi-book-nav-menu" aria-hidden="true"></span> API Docs
            </a>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="streaming-ssr">
                <span class="bi bi-server-nav-menu" aria-hidden="true"></span> Blazor SSR
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="streaming-static">
                <span class="bi bi-file-code-nav-menu" aria-hidden="true"></span> Static SSR
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="streaming/auto">
                <span class="bi bi-cpu-nav-menu" aria-hidden="true"></span> Auto Mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="https://localhost:5011/streaming-interactive" target="_blank">
                <span class="bi bi-broadcast-nav-menu" aria-hidden="true"></span> WebAssembly
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="https://localhost:5011/non-streaming" target="_blank">
                <span class="bi bi-filetype-json-nav-menu" aria-hidden="true"></span> Non-Streaming
            </a>
        </div>
    </nav>
</div>

